$clr-bright-orange: hsl(31, 77%, 52%);
$clr-dark-cyan: hsl(184, 100%, 22%);
$clr-very-dark-cyan: hsl(179, 100%, 13%);

$clr-transparent-white-p: hsla(0, 0%, 100%, 0.75);
$clr-very-light-gray: hsl(0, 0%, 95%);

$fs-normal: 0.9375rem;
$fs-huge: 2rem;

$fw-regular: 400;
$fw-bold: 700;

$br-normal: 10px;

$spc-tiny: 0.2em;
$spc-small: 0.8em;
$spc-normal: 1em;
$spc-large: 1.5em;
$spc-larger: 2em;
$spc-huge: 2.5em;